/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

html {
    background: var(--backg);
    --btn: #E9EbEF;
    --backg: #fff;
    --colorx: #232323;
    --jumboBackg: #E9EbEF;
    --cardBackg: #fff;
}

html[data-theme='dartheme'] {
    background: var(--backg);
    --btn: #065D45;
    --backg: #000;
    --colorx: #fff;
    --jumboBackg: #065D45;
    --cardBackg : #232323;
}
/*  */
html[data-theme='lighttheme'] {
    background: var(--backg);
    --btn: #E9EbEF;
    --backg: #fff;
    --colorx: #000;
    --cardBackg: #fff;
}

p, h5, .markupP {
    color: var(--colorx);
}

img {
  width: 100%;
  height: auto;
}

.blog a {
  color: var(--colorx);
}

.cB {
  background-color: var(--backg);
}

.content {
    background-color: var(--backg);
    color: var(--colorx);
}

.jumbotron {
    background-color: var(--jumboBackg);
}

.card {
    background-color: var(--backg);
}

h1 {
    /* font-family: 'Fredoka One', cursive; */
    /* font-weight: 300; */
    color: var(--colorx);
}

h2 {
    /* font-family: 'Fredoka One', cursive; */
    /* font-weight: 100; */
    color: var(--colorx);
}

.card h2 {
    color : #000;
}

input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;

}

label {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    top:3px;
    left: 5px;
    background: var(--btn);
}

label:after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: #343940;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 4px;
    transition: ease-in-out 200ms;
}

input:checked+label {
    background: #065D45;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color : #fff;
    text-align: center;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: ease-in-out 200ms !important;
    transition-delay: 0 !important;
}

.companyHead {
    font-size: 1.5rem;
    padding: 20px 0px;
}


.timelineWork {
    position: relative;
    border-left: 1px solid var(--colorx);
}

.timelineWork::before, .timelineWork::after {
    content: "";
    position: absolute;
    color: var(--colorx);
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 5px;
}

.timelineWork::after {
    bottom: 0;
}

.timelineWork.paytm::before {
  content: "June-2022";
}
.timelineWork.paytm::after {
  content: "Jan-2022";
}

.timelineWork.mayandco::before {
    content: "Aug-2021";
}
/* .timelineWork.mayandco::after {
    content: "July-2021"
} */

.timelineWork.kohler::before {
    content: "July-2021";
}
.timelineWork.kohler::after {
    content: "June-2021";
}

.timelineWork.transmate::before {
    content: "Dec-2020";
}
.timelineWork.transmate::after {
    content: "June-2020";
    margin-bottom: 20px;
}

.timelineWork.platformtechs::before {
    content: "April-2019";
}
.timelineWork.platformtechs::after {
    content: "Feb-2019";
}



.workSamples {
    padding: 50px 0vw 50px 10vw;
}

.workSamples a {
    text-decoration: none;
    color: var(--colorx);
    font-weight: 600;
    position: relative;
}

.workSamples a::after {
    content: url("./../public/assets/images/external-link-24.png");
    padding-left: 5px;
    position: absolute;
}

.wsImgDiv {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

@media screen and (max-width: 1100px) {
    .wsImgDiv {
        display: none;
    }
}

.sprtrBkg {
    background-color: var(--backg);
}

.keyframe {
    box-shadow: 0px 5px 2px -2px var(--colorx);
}

.wsImgDiv img {
    width: 100%;
    height: auto;
}



#footer {
    background-color: #000;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10vw;
}

.footerLeft {
    color: #fff;

}

.modalText {
    color: #000 !important;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar-nav {
  align-items: center;
}

@media screen and (min-width: 992px) {
  .darkmode_toggler {
    margin: -28px 0 0 7px;
  }
}


.jumbotron:hover {
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.commonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2% 20%; */
}

.keyframe {
  /* background-color:turquoise; */
  box-sizing: border-box;
  /* padding: 5% 20%; */
  transform-style: preserve-3d;
  /* perspective: 1200px; */
  /* perspective-origin: 50% 50%; */
}

.keyframeInner{
  display: block;
  background: black;
  padding: 10% 10%;
  border: 1px solid #000;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  animation: bouncing 5s linear forwards;
  animation-iteration-count: infinite;
  -webkit-animation: bouncing 4s linear forwards;
  -webkit-animation-iteration-count: infinite;

}

@media screen and (min-width:1100px){
  .keyframeInner {
      padding: 7% 7%;
  }
  @keyframes bouncing {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(300%, 0);
      /* padding: 11% 10%;     */
  }
  50% {
      transform: translate(50%, 0);
      /* padding: 10% 10%;  */
  }
  75% {
      transform: translate(-300%, 0);
  }
  100% {
      transform: translate(0, 0);
  }
}
}

.keyframeInner::before {
content: "";
position: absolute;
top: 1%;
left: 5%;
width: 90%;
height: 90%;
border-radius: 50%;
background: radial-gradient(circle at 50% 0px, lightyellow, rgba(255, 255, 255, 0) 58%);
filter: blur(5px);
z-index: 2;
}

/* .keyframe:hover .keyframeInner {
  animation: none;
} */

.keyframeInner .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}

@media screen and (max-width:1099px) {
  @keyframes bouncing {
      0% {
          transform: translate(0, 0);
      }
      25% {
          transform: translate(200%, 0);
          /* padding: 11% 10%;     */
      }
      50% {
          transform: translate(50%, 0);
          /* padding: 10% 10%;  */
      }
      75% {
          transform: translate(-200%, 0);
      }
      100% {
          transform: translate(0, 0);
      }
  }
}








#footer ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
}

#footer ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 10px;
}

#footer ul li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}

#footer ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-41deg);
}

#footer ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #333;
  color: rgba(255,255,255,0.2);
  font-size: 30px !important;
  transition: 0.2s;
}

#footer ul li:hover span {
  z-index: 1000;
  transition: 0.5s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(121, 11, 11, 0.05);
}


#footer ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
#footer ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
#footer ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
#footer ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
#footer ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

#footer ul li:hover {
  transition-duration: 0.5s;
}

#footer ul li:hover::after {
  width: 0px;
}

#footer ul li:hover::before {
  height: 0px;
}


#footer ul li:nth-child(1):hover span {
  background: #55acee;
}
#footer ul li:nth-child(2):hover span {
  background: #171515;
}
#footer ul li:nth-child(3):hover span {
  background: #3b5999;
}


.infoIcon {
  position: absolute;
  padding: 20px;
  border: 3px solid rgba(255,255,255,0.2);
  border-radius: 50%;
}

#footer ul li:hover .infoIcon {
  border-color: rgba(255,255,255,1);
}